X-CG-API-Secret=secret_value
X-CG-School=school_code
endpoint=users

# Valid endpoint examples:
# events
# rsvp
# checkins
# event_registration_options
# payments
# members
# users
# groups
# tags
# academic_experiences
# work_experiences
# budgets
# budget_transactions
# surveys
# survey_submissions
# rooms
# rooms_reservations
# badges
# badges_completions
# feed_posts
# tracks
# checklists
# checklist_items
# stores
# store_products
# announcements
# announcement_recipients
